.traning-item {
    box-shadow: 7px -4px 20px 0 rgb(200 190 215 / 89%);
    background: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    padding: 31px 20px;
    border-radius: 25px;
}

img.card-img-top1,
.client-img1 {
    width: 82px;
    height: 78px;
    box-shadow: 0px 0px 10px 3px grey;
    border-radius: 50%;
    /* text-align: center; */
    margin: auto;
    display: block;
    margin-bottom: 16px;
}

.traning-item h3 {
    justify-content: center;
    display: flex;
    color: #e21950;
    font-weight: 700;
    font-family: inherit;
    text-transform: capitalize;
    /* text-underline-offset: revert; */
}

.traning-item p {
    margin-top: 18px;
    color: #543924;
    font-weight: 700;
}

.traning-item button {
    padding: 11px 45px;
    border-radius: 14px;
    color: #000;
}

.button3 {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

button.color2.btn.btn-lg {
    background-color: #F2726F;
    text-transform: capitalize;
    padding: 11px 46px;
    border-radius: 17px;
    color: #ffffff;
}
.traning-item:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }