.foot1 {
    background-image: url(../logo1.png);
    height: 45px;
    background-position: center;
    background-size: cover;
    width: 212px;
}

.footp {
    margin-top: 28px;
    font-weight: 600;
    width: 315px;
}

.f2 h3 {
    font-size: 19px;
    margin-top: 15px;
    font-weight: 700;
    padding: 0px 21px;
}

.f3 {
    padding: 0pc 36px;
    font-weight: 600;
    margin-top: 22px;
    line-height: 29px;
}

.f4 {
    margin-top: 59px;
    font-weight: 600;
    /* column-gap: 41px; */
    line-height: 29px;
}

.f3 ul li {
    list-style: none;
}

.f4 ul li {
    list-style: none;
}

.icon {
    margin-top: 30px;
}

.icon i {
    padding: 10px;
}